<!DOCTYPE html>
<html>
  <head>
    <title>ViewComponentDemo</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body>
    <div class="container mx-auto px-4 py-12">

      <%= render Nav::ContainerComponent.new do |c| %>
        <%= c.with_logo path: root_path %>

        <div class="flex-1">
          <%= c.with_item title: "Home", href: root_path, active: current_page?(root_path) %>

          <% if user_signed_in? %>
            <%= c.with_item title: current_user.name, href: edit_user_registration_path, active: current_page?(edit_user_registration_path) %>

          <% else  %>
            <%= c.with_item title: "Sign in", href: new_user_session_path, active: current_page?(new_user_session_path) %>

            <%= c.with_item title: "Sign up", href: new_user_registration_path, active: current_page?(new_user_registration_path) %>
          <% end %>
        </div>
      <% end %>

      <div class="mt-16">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
